 Q1.How do you comment code in Python? What are the different types of comments?

we can comment by using the Hash symbol '#" or we can also select and can use command "ctrl + /"
Their are different types of comments:
1. single line: by using the '#' . This will cover information in single line
2. Multi line: by using the (""" """) 3 double or single quotes.

Q2. What are variables in Python? How do you declare and assign values to variables?

variable is a reserved memory location used to store values
example coulde be:

In [2]:
a = 45 # a is the variable

define a name to the variable and then assign the value to it. Their are some certain rules to define the name for the variables.

Q3. How do you convert one data type to another in Python?

we can convert one data type to another by using the typecasting.

In [3]:
a = 45

In [4]:
float(a)   # typecasting

45.0

Q4. How do you write and execute a Python script from the command line?

we can use cmd for the python code by running the cmd as an admin and we need to open a command line and type the word python followed by the path to our script file.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [5]:
my_list = [1,2,3,4,5]

In [6]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

complex number is the combination of real and imaginary numbers

In [7]:
#Example for complex number is:
c = 63 + 7j   #j represent the imaginary number

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

just name a variable as 'age' and assign the value by using the assignment operator

In [8]:
age = 25

In [9]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [10]:
price = 9.99

In [11]:
price

9.99

In [12]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [13]:
name = "TUSHAR SINGH RAWAT"

In [14]:
# we can use the inbuilt print function to print the value for the above
print(name)

TUSHAR SINGH RAWAT

Q10. Given the string "Hello, World!", extract the substring "World".

In [15]:
lis = "Hello, World!"

In [17]:
lis[7:12:]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [18]:
is_student = True

In [19]:
is_student

True